body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chocolate;
    color: white;
}

header{
    margin: 20px;
    padding: 1em;
    text-align: center;
    border: 1px solid white;
    background-color: coral;
}

section{
    text-align: left;
}

h1{
    font-size: 30px;
}

#descripcion{
    font-size: 16px;
}